.project .card-footer {
  margin-top: -63px;
  text-align: right;
}

.project.card {
  min-width: 35rem;
  max-width: 35rem;
  margin: 1rem auto !important;
  border: none;
}

.project.card:hover .card-header,
.project.card:hover .card-img-bottom {
  outline: 1px solid #007bff;
}

.project.card .card-header {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.projectTitle {
  display: inline-block;
  width: 50%;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.card-img {
  width: 25% !important;
}
