.teamtab .nav-item {
  margin: auto;
}
.teamtab .nav-link {
  background-color: transparent;
  color: inherit;
  border-radius: 10px;
}

.teamtab .nav-link.active {
  background-color: rgba(0, 0, 0, 0.1);
}
