RewriteEngine On # Turn on the rewriting engine

#Rules for student
RewriteRule ^members/?$ members.php [NC,L]
RewriteRule ^members/([0-9]+)/?$ members.php?member_id=$1 [NC,L]
RewriteRule ^members/([a-zA-Z]+)/?$ members.php?status=$1 [NC,L]

#Rules for projects
RewriteRule ^projects/?$ projects.php [NC,L]
RewriteRule ^projects/([0-9]+)/?$ projects.php?project_id=$1 [NC,L]
RewriteRule ^projects/([a-zA-Z]+)/?$ projects.php?state=$1 [NC,L]
